body 
{
  padding: 0;
  margin: 0;

}

h1
{font:sans-serif;
font-size:40px;
text-align:center;
}

.sidebar
{
  height: 100%;
  width:53%; 
  position:fixed; 
  z-index: 0; 
  top: 0;
  right: 0;
  background-color:#9CB1C4;
}

.label
{display:block;
font-size:150%;
text-align:center;
font-weight:bold;
margin-bottom:10px;
}
input
{font-size:80%;
margin-bottom:10px;}

img
{
  border:2% solid black;
  display:block;
  margin-left:10%;
  width:8%;
  height:8%;
  background-size:cover;
  overflow:hidden;

}
img:hover
{background:lightgrey;
cursor:pointer;
}

figure
{display:flex;
align-items: center;}
figcaption
{font:sans-serif;
font-size:30px;
text-align: center;
}
